@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

span,
mark{
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
}

h3{
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
}

.prgrph{
	font-family: "Roboto";
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/Larsseit-Regular.woff2) format("woff2"), url(../fonts/Larsseit-Regular.woff2) format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/Larsseit-Medium.woff2) format("woff2"), url(../fonts/Larsseit-Medium.woff2) format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url(../fonts/Larsseit-Bold.woff2) format("woff2"), url(../fonts/Larsseit-Bold.woff) format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

header,
footer{
	font-family: "Larsseit";
	font-weight: 400;
	font-style: normal;
}

h1,
h2{
	font-family: "Larsseit";
	font-weight: 700;
	font-style: normal;
}

.link.page{
	font-family: "Larsseit";
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.woff) format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.woff) format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Black.woff2) format("woff2"), url(../fonts/Lato-Black.woff) format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

.text{
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}

div{
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
}

ul,
ol,
a{
	font-family: "Lato";
	font-weight: 900;
	font-style: normal;
}
